node_modules/
dist/
build/
artifacts/web/node_modules/
artifacts/web/dist/
artifacts/web/admin-dist/
artifacts/api-server/node_modules/
artifacts/api-server/data/
artifacts/api-server/dist/
electron-app/
*.apk
*.aab
apks/
.git/
.vscode/
*.log
pnpm-lock.yaml
pnpm-workspace.yaml
pnpm-workspace.yml
web/
admin/
admin-dist/
